<h1> Welcome to <b>Twitter</b> @<%=current_user.username%></h1>

<div class= "mytweets">

	<table>
		  <tr >
		    <th>My Tweets</th> 
		    <th> Edit/delete</th> 
		  </tr>

			<% @mytweets.each do |tweet| %>
		  <tr><td><%= tweet %></td>
		  <td> 	<form action="/myprofile/edit" method="get">
					  <input type="submit" value="Edit">
					</form>
					<form action="/myprofile" method="post">
					  <input type="hidden" name="_method" value="DELETE">
					  <input type="submit" value="Delete">
					</form>
		  </td></tr>

		  <%end%>
		 
		 </table>