<h1> Welcome to <b>Twitter</b> @<%=current_user.username%></h1>

<div class= "mytweets">

	<table>
		  <tr >
		    <th>My Tweets</th> 
		    <th> Edit/delete</th> 
		  </tr>

			<% @mytweets.each do |tweet| %>
		  <tr><td><%= tweet %></td>
		  <td> 	<form method=get action=/edit>
				<button type=submit >Edit</button>
				</form>
				<form action="/tweet/<%=@delete_tweet.id%>" method="post">
					  <input type="hidden" name="_method" value="DELETE">
					  <input type="submit" value="Delete">
	   		    </form>
				
		  </td></tr>

		  <%end%>
		 
		 </table>