	<h1> Welcome to <b>Twitter</b> @<%=current_user.username%></h1>

<div class= "mytweets">

	<table>
		  <tr >
		    <th>My Tweets</th> 
		    <th> Edit/delete</th> 
		  </tr>

			<% @mytweets.each do |tweet| %>
		  <tr><td><%= tweet.subject %></td>
		  <td> 	<form method=post action="/edit/<%=tweet.id%>">
		 			 <input type="hidden" name="_method" value="PUT">
 			 		 <input type="text" name="edit">
					 <input type="submit" value="Edit">
				</form>
				<form action="/tweet/<%=tweet.id%>" method="post">
					  <input type="hidden" name="_method" value="DELETE">
					  <input type="submit" value="Delete">
	   		    </form>
				
		  </td></tr>

		  <%end%>
		 
		 </table>