<h1> Welcome to @<%=@tweet_user.username%>'s profile</h1>


<table>
	<tr >
		<th>@<%=@tweet_user.username%>'s Tweets</th>  
	</tr>

	<% @tweet_user.tweets.each do |tweet| %>
	<tr><td><%= tweet.subject %></td></tr>
	<%end%>
	
</table>