<html>
<link rel="stylesheet" href="/css/application.css">
	<head>
		<title>Twitter Clone</title>
		<link rel="icon" type="image/png" href="https://g.twimg.com/Twitter_logo_blue.png">
	</head>
	<body>

		<%= yield %>
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

<script type="text/javascript" src="/js/application.js"></script>
</html>